header {
    text-align: center; 
    padding: 20px; 
}

html, body {
    height: 100%;  
    margin: 0;     
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    font-size: 22px;
}

body {
    background-color: #F5F5DC;
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center; 
}

a {
    color: aliceblue;
}

a:visited {
    color: purple;
}

a:hover, a:active {
    color: black;
}
ul {
    list-style-type: none; 
    padding: 0;             
}

button{
    display: inline-block;       
    padding: 10px 20px;
    background-color: grey;
    color: white;
    text-decoration: none;      
    border-radius: 100px;
    cursor: pointer;
    font-size: 20px;
    visited:
    
}

button:hover {
    background-color: lightgrey;

}
button:visited{
    color: green;

}
#headName{
   color: black;
   font-family: Verdana;

}
